body {
  font-family: Arial;
  margin: 0;
}

{
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}


.container {
  position: relative;
}


.flowerSlides {
  display: none;
  position: relative;
}


.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowClass:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 11.01%;
  /* width: 16.66%; */
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.img-height{
height:80px;
}
.caption {
position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    opacity: 0.7;
    background: darkgrey;
font-weight: bold;
}
